<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-edit-plist-file"
    version="0.0.3">
    
    <name>Edit Plist file</name>
    
    <description>
        A cordova "plugin" that helps you indicate the modifications on the iOS's *-info.plist file.
        So it avoids you to directly edit the *-info.plist file.
        For example it is used to whitelist some schemes for ios9.
        This plugin was initially created to avoid iOS 9 problems that prevent opening other apps from your own app because some used plugins aren't updated to take into consideration the new specification for iOS 9.
    </description>

    <author>Haythem OUEDERNI - haythem@nirbyapp.com </author>

    <keywords>cordova,whitelist,ios9,ecosystem:cordova,ordova-ios</keywords>
    
    <license>MIT</license>
    
    <engines>
        <!-- Requires > 3.3.* because of the custom Framework tag for iOS [CB-5238] -->
        <!-- Requires > 3.5.0 because of the custom Framework tag for Android [CB-6698] -->
        <engine name="cordova" version=">=3.5.0" />
    </engines>
    
    
    
    <!-- ios -->
    <platform name="ios">
        	    
	<config-file target="*.plist" parent="NSCalendarsUsageDescription" mode="merge">
            
            <string>A APP ZU gostaria de aceder ao seu calendário. O acesso ao seu calendário possibilita a associação e a visualização de eventos da APP ZU.</string>
            
    </config-file>

	<config-file target="*.plist" parent="NSCameraUsageDescription" mode="merge">
            
        	<string>A APP ZU gostaria de aceder à sua câmara sempre que pretenda publicar uma fotografia no perfil do seu animal.</string>
            
	</config-file>

    
    <config-file target="*.plist" parent="NSPhotoLibraryUsageDescription" mode="merge">
            
            <string>A APP ZU gostaria de aceder à sua galeria de fotos sempre que pretenda publicar uma fotografia no perfil do seu animal.</string>
            
    </config-file>

    <config-file target="*.plist" parent="NSLocationUsageDescription" mode="merge">
            
            <string>A APP ZU gostaria de aceder à sua localização, caso necessite de saber qual é a loja ZU mais perto de si.</string>
            
    </config-file>

    <config-file target="*.plist" parent="NSLocationAlwaysUsageDescription" mode="merge">
            
            <string>A APP ZU gostaria de aceder à sua localização, caso necessite de saber qual é a loja ZU mais perto de si.</string>
            
    </config-file>

    <config-file target="*.plist" parent="NSLocationWhenInUseUsageDescription" mode="merge">
            
            <string>A APP ZU gostaria de aceder à sua localização, caso necessite de saber qual é a loja ZU mais perto de si.</string>
            
    </config-file>
	
    <config-file target="*.plist" parent="LOCATION_WHENINUSE_USAGE_DESCRIPTION" mode="merge">
            
            <string>A APP ZU gostaria de aceder à sua localização, caso necessite de saber qual é a loja ZU mais perto de si.</string>
            
    </config-file>
        
        
    </platform>
    
</plugin>
